/data/
/logs/
*.db
*.db-wal
*.db-shm

# Build results
**/bin/
**/obj/

*.assets.cache

# Visual Studio temporary files
#.vscode/
.vs/
*.suo
*.user
*.userosscache
*.sln.ide
*.sln.docstates

# Logs
*.log

# Temporary files
*.tmp
*.temp

**/.DS_Store

*.idea
.idea

**/.idea

**/src/api/appsettings.Development.json
**/src/count-api/appsettings.Development.json
**/src/tests/IntegrationTests/appsettings.Development.json

/containers/certbot/secrets/dns_desec.ini
/containers/certbot/letsencrypt/*
/containers/certbot/logs/

/src/api/certs/*

/containers/matrix_data/*

**/src/fe/node_modules
**/src/fe/.next

dev/.env
src/fe/.env.local
src/tests/IntegrationTests/appsettings.json
deploy/delta-box/local/matrix/homeserver.db-wal
deploy/delta-box/local/matrix/homeserver.db-shm
deploy/delta-box/local/matrix/homeserver.db
deploy/local/.env

**/src/Api/appsettings.Development.json

# MEM installer runtime data
installer/data/*.db
installer/data/*.db-shm
installer/data/*.db-wal
installer/data/certificates/
installer/src/Api/data/
